<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <head>
    <title>Please Log In</title>
  </head>
  <h1>Please Log In</h1>
  <div th:if="${param.error}">
    Invalid username and password.</div>
  <div th:if="${param.logout}">
    You have been logged out.</div>
  <form name="form" th:action="@{/login}" method="post" th:obejct="${user}">
    <table>
      <tr>
        <td>User:</td>
        <td><input type="text" name="username" value=''></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" /></td>
      </tr>
      <tr>
        <td><input name="submit" type="submit" value="submit" /></td>
        <td>
          <a href="/register">
            <input id="register-button" name="register" type="button" value="register">
          </a>
        </td>
      </tr>
    </table>
  </form>

  <script type="text/javascript" th:src="@{/js/login.js}"></script>
</body>
</html>